<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>526922532314-d61h5l0sefitc97oli04hjheffg6pi03.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.526922532314-d61h5l0sefitc97oli04hjheffg6pi03</string>
	<key>API_KEY</key>
	<string>AIzaSyAD4g6dvPnFId-xSRehTmuM_CtJDMaGXA4</string>
	<key>GCM_SENDER_ID</key>
	<string>526922532314</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>mba22-564ab</string>
	<key>STORAGE_BUCKET</key>
	<string>mba22-564ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:526922532314:ios:626ab47f418e3d65de6ce3</string>
</dict>
</plist>